@import 'open-color/open-color';

$colors: (
  'gray',
  'blue'
);

@each $color in $colors {
  @for $i from 0 through 9 {
    .#{$color}-#{$i} {
      background: var(--oc-#{$color}-#{$i})
    }
  }
}

.white {
  background: $oc-white;
}

.black {
  background: $oc-black;
}
