.gray-0 {
  background: var(--oc-gray-0);
}

.gray-1 {
  background: var(--oc-gray-1);
}

.gray-1-gradient {
  background: linear-gradient(0deg, var(--oc-gray-2), var(--oc-gray-1));
}

.gray-2 {
  background: var(--oc-gray-2);
}

.gray-3 {
  background: var(--oc-gray-3);
}

.gray-5 {
  background: var(--oc-gray-5);
}

.gray-7 {
  background: var(--oc-gray-7);
}

.gray-9 {
  background: var(--oc-gray-9);
}

.white {
  background: hsl(0, 0%, 100%);
}

.blue {
  background: hsl(210, 100%, 60%);
}

.blue-1 {
  background: var(--oc-blue-1);
}

.blue-2 {
  background: var(--oc-blue-2);
}

.blue-3 {
  background: var(--oc-blue-3);
}

.blue-4 {
  background: var(--oc-blue-4);
}

.blue-5 {
  background: var(--oc-blue-5);
}

.blue-6 {
  background: var(--oc-blue-6);
}

.blue-7 {
  background: var(--oc-blue-7);
}

.blue-8 {
  background: var(--oc-blue-8);
}

.blue-9 {
  background: var(--oc-blue-9);
}
