.gray-0 {
  background: var(--oc-gray-0);
}

.gray-1 {
  background: var(--oc-gray-1);
}

.gray-1-gradient {
  background: linear-gradient(0deg, var(--oc-gray-2), var(--oc-gray-1));
}

.gray-2 {
  background: var(--oc-gray-2);
}

.gray-3 {
  background: var(--oc-gray-3);
}

.white {
  background: hsl(0, 0%, 100%);
}

.blue {
  background: hsl(210, 100%, 60%);
}
