@import 'open-color/open-color';

@each $oc-color, $color in $oc-color-list {
  @for $i from 0 through 9 {
    .#{$color}-#{$i} {
      // background: var(--oc-#{$color}-#{$i});
      background: map-get($oc-color, '#{$i}');
    }
  }
}

.primary {
  background: var(--primary-color);
}

.white {
  background: $oc-white;
}

.black {
  background: $oc-black;
}
