.xsmall {
  padding-left: var(--spacing-xsmall);
  padding-right: var(--spacing-xsmall);
}

.small {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

.medium {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.large {
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}
