.tiny {
  padding: var(--spacing-tiny);
}

.xsmall {
  padding: var(--spacing-xsmall);
}

.small {
  padding: var(--spacing-small);
}

.medium {
  padding: var(--spacing-medium);
}

.large {
  padding: var(--spacing-large);
}

.xlarge {
  padding: var(--spacing-xlarge)
}
