.tiny {
  padding-top: var(--spacing-tiny);
  padding-bottom: var(--spacing-tiny);
}

.xsmall {
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
}

.small {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.medium {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}
