.xxsmall {
  padding-top: 3px;
  padding-bottom: 3px;
}

.xsmall {
  padding-top: 5px;
  padding-bottom: 5px;
}

.small {
  padding-top: 10px;
  padding-bottom: 10px;
}

.medium {
  padding-top: 15px;
  padding-bottom: 15px;
}
