:root {
  --divider-color: hsl(210, 14%, 83%);
}

.divider {
  background-color: hsl(210, 14%, 83%);
}

.divider.level-3 {
  background-color: hsl(210, 17%, 95%);
}

:global(.vertical) > .divider {
  min-height: 1px;
  margin: 10px 0;
}

:global(.vertical) > .divider.medium {
  margin: 15px 0;
}

:global(.horizontal) > .divider {
  min-width: 1px;
  margin: 0 10px;
}

.none.none {
  margin: 0 0;
}
