@value vertical from "../App.module.css";
@value horizontal from "../App.module.css";

:root {
  --divider-color: var(--oc-gray-3);
}

.divider {
  background-color: var(--oc-gray-3);
  align-self: stretch;
}

.divider.gray-3 {
  background-color: var(--oc-gray-3);
}

.divider.gray-4 {
  background-color: var(--oc-gray-4);
}

.vertical > .divider {
  min-height: 1px;
  margin: 10px 0;
}

.vertical > .divider.xsmall {
  margin: 5px 0;
}

.vertical > .divider.medium {
  margin: 15px 0;
}

.horizontal > .divider {
  min-width: 1px;
  margin: 0 10px;
}

.none.none {
  margin: 0 0;
}
