@import 'open-color/open-color';

// .field {
//   line-height: 20px;
//   padding-bottom: 2px;
//   margin-top: -5px;
//   margin-bottom: -7px;
//   z-index: 1;

//   &:hover {
//     border-bottom: 2px solid var(--primary-light-color);
//     margin-bottom: -11px;
//   }

//   &:focus {
//     border-bottom: 2px solid var(--primary-color);
//     margin-bottom: -11px;
//   }
// }

.input:not(.document) {
  line-height: 20px;
  box-shadow: inset 0 0 0 1px var(--oc-gray-3);
  padding: 5px 10px;
  border-radius: 2.5px;

  &:focus {
    box-shadow: inset 0 0 0 2px var(--primary-color);
  }
}

.input.document {
  line-height: 20px;
  padding-bottom: 5px;
  margin-top: -5px;
  margin-bottom: -9px;
  z-index: 1;

  &:hover {
    border-bottom: 2px solid var(--primary-light-color);
    margin-bottom: -11px;
  }

  &:focus {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: -11px;
  }
}
