// .field {
//   line-height: 20px;
//   padding-bottom: 2px;
//   margin-top: -5px;
//   margin-bottom: -7px;
//   z-index: 1;

//   &:hover {
//     border-bottom: 2px solid var(--primary-light-color);
//     margin-bottom: -11px;
//   }

//   &:focus {
//     border-bottom: 2px solid var(--primary-color);
//     margin-bottom: -11px;
//   }
// }

.field {
  line-height: 20px;
  padding-bottom: 5px;
  margin-top: -5px;
  margin-bottom: -9px;
  z-index: 1;

  &:hover {
    border-bottom: 2px solid var(--primary-light-color);
    margin-bottom: -11px;
  }

  &:focus {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: -11px;
  }
}
