.wrap {
  flex-wrap: wrap;
}

.list:global(.horizontal) > li:not(:first-child) {
  margin-left: 10px;
}

.list.medium:global(.vertical) > li:not(:first-child) {
  margin-top: 15px;
}

.list.none:global(.vertical) > li:not(:first-child) {
  margin-top: 0;
}

.list:global(.vertical) > li:not(:first-child) {
  margin-top: 10px;
}

/* */

.list.none:global(.horizontal) > li:not(:first-child) {
  margin-left: 0;
}

.list.large:global(.horizontal) > li:not(:first-child) {
  margin-left: 20px;
}

/* */

.list.divider:global(.vertical) > li:not(:first-child) {
  /* border-top: 1px solid var(--divider-color); */
  padding-top: 11px;
}

.list.divider:global(.vertical) > li:not(:first-child)::before {
  content: '';
  position: absolute;
  left: 50px;
  right: 0;
  border-top: 1px solid var(--divider-color);
}

.list.level-3.divider:global(.vertical) > li:not(:first-child)::before {
  border-color: hsl(210, 17%, 95%);
}

.list.divider.none:global(.vertical) > li:not(:first-child) {
  padding-top: 0;
}
