@value vertical from "../App.module.css";
@value horizontal from "../App.module.css";

.wrap {
  flex-wrap: wrap;
}

/* Horizontal */

.list.xsmall.horizontal > li:not(:first-child) {
  margin-left: 5px;
}

.list.small.horizontal > li:not(:first-child) {
  margin-left: 10px;
}

.list.medium.horizontal > li:not(:first-child) {
  margin-left: 10px;
}

.list.large.horizontal > li:not(:first-child) {
  margin-left: 10px;
}

.list.none.horizontal > li:not(:first-child) {
  margin-left: 0;
}

/* Vertical */

.list.small.vertical > li:not(:first-child) {
  margin-top: 10px;
}

.list.medium.vertical > li:not(:first-child) {
  margin-top: 15px;
}

.list.medium.vertical > li:not(:first-child) {
  margin-top: 15px;
}

.list.none.vertical > li:not(:first-child) {
  margin-top: 0;
}

/* Divider */

.list.divider.vertical > li:not(:first-child) {
  padding-top: 11px;
}

.list.divider.vertical > li:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  right: 0;
  border-top: 1px solid var(--divider-color);
  z-index: 1;
}

.list.divider.vertical > li:not(:first-child).selected::before {
  left: 0;
}

.list.divider.vertical > li:not(:first-child).selected + li::before {
  left: 0;
}

.list.divider.vertical.gray-2 > li:not(:first-child)::before {
  border-top-color: var(--oc-gray-2);
}

.list.divider.none.vertical > li:not(:first-child) {
  padding-top: 0;
}
