@value vertical from "../App.module.css";
@value horizontal from "../App.module.css";

/* .small, .medium, .large {
  pointer-events: none;;
} */

.vertical > .xxsmall {
  min-height: 2.5px;
  align-self: stretch;
}

.vertical > .xsmall {
  min-height: 5px;
  align-self: stretch;
}

.vertical > .small {
  min-height: 10px;
  align-self: stretch;
}

.vertical > .medium {
  min-height: 15px;
  align-self: stretch;
}

.vertical > .large {
  min-height: 20px;
  align-self: stretch;
}

/* Horizontal */

.horizontal > .xxsmall {
  min-width: 2.5px;
  align-self: stretch;
}

.horizontal > .xsmall {
  min-width: 5px;
  align-self: stretch;
}

.horizontal > .small {
  min-width: 10px;
  align-self: stretch;
}

.horizontal > .medium {
  min-width: 15px;
  align-self: stretch;
}

.horizontal > .large {
  min-width: 20px;
  align-self: stretch;
}
