:global(.vertical) > .xsmall {
  min-height: 5px;
  align-self: stretch;
}

:global(.horizontal) > .xsmall {
  min-width: 5px;
  align-self: stretch;
}

:global(.vertical) > .small {
  min-height: 10px;
  align-self: stretch;
}

:global(.horizontal) > .small {
  min-width: 10px;
  align-self: stretch;
}
