@value vertical from "../App.module.css";
@value horizontal from "../App.module.css";

.vertical > .xsmall {
  min-height: 5px;
  align-self: stretch;
}

.horizontal > .xsmall {
  min-width: 5px;
  align-self: stretch;
}

.vertical > .small {
  min-height: 10px;
  align-self: stretch;
}

.horizontal > .small {
  min-width: 10px;
  align-self: stretch;
}
