:root {
  --primary-color: var(--oc-blue-5);
  --primary-light-color: var(--oc-blue-3);
}

.App {
  position: fixed !important;
  top: 0;
  right: -1000px;
  bottom: -1000px;
  left: 0;
}

.View {
  display: flex;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: relative;
  outline: none;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gradient::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.05), hsla(0, 0%, 0%, 0.0));
}

@keyframes scroll {
  from {
    transform: none;
  }

  to {
    transform: translate(0, -100%);
  }
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}
