:root {
  --primary-color: var(--oc-blue-5);
}

.App {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.View {
  display: flex;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: relative;
  outline: none;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gradient::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.05), hsla(0, 0%, 0%, 0.0));
}
