.slider {
  --slider-width: 100px;
  border-radius: 1000px;;
  overflow: clip;
}

.slider::before {
  content: '';
  position: absolute;
  width: var(--slider-width);
  height: 7px;
  background: hsla(0, 0%, 100%, 0.75);
}

.slider::-webkit-slider-thumb {
  visibility: hidden;
}

/* Overlay */

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.0));
  opacity: 0.0;
  transition: 0.3s ease-in-out;
}

.visible .background {
  opacity: 1.0;
}

/* Controls */

.playButton {
  position: relative;
  opacity: 0.0;
  transition: 0.25s ease-in-out;
}

.visible .playButton {
  opacity: 1.0;
  transition: 0.3s 0.075s ease-in-out;
}

.controls {
  position: relative;
  transform: translate(0, 100%);
  opacity: 0.0;
  transition: 0.3s ease-in-out;
}

.visible .controls {
  transform: none;
  opacity: 1.0;
}
